{% load url from future %}
{% csrf_token %}

{% for greeting in greetings %} 
  {% if greeting.author.nickname %} 
    {{ greeting.author }} wrote: 
  {% else %} An anonymous person wrote: 

  {% endif %} 
  {{ greeting.content|escape }} at {{ greeting.date }}
   {% if currentUser %}
   		{% if isAdmin %}
  			<span><a href="{% url 'edit' %}?id={{ greeting.key.id }}&guestbook_name={{ guestbook_name }}"><input  type="button" value='Edit'/></a>&nbsp;<a href="{% url 'delete' %}?id={{greeting.key.id}}&guestbook_name={{ guestbook_name}}"><input  type="button" value='Delete'/></a></span>
   		{% else %}
   			{% if currentUser == greeting.author %}
   				<a href="{% url 'edit' %}?id={{ greeting.key.id }}&guestbook_name={{ guestbook_name }}"><input  type="button" value='Edit'/></a>
   			{% endif %}
   		{% endif %}
   	{% endif %}

  <br>

  {% endfor %}
<a href="{% url 'sign' %}"><input type="button" value='Sign'/></a>


 <form method="GET" action='/'>Guestbook name:
     <label>
         <input value="{{ guestbook_name }}" name="guestbook_name">
     </label>
     <input type="submit" value="switch">
    </form>
<br>
<a href="{{ url }}">{{ url_linktext }}</a>
