{% load url from future %}
{% csrf_token %}
{% for guestbook in guestbooks %}
<p>Guestbook:       {{guestbook.name}}</p>
{% for greeting in greetings %}
	{% if guestbook.name == greeting.guestbook.name %}
	{% if greeting.author.nickname %} 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ greeting.author }} wrote: 
  {% else %} <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An anonymous person wrote: 
  {% endif %} 
  {{ greeting.content|escape }} at {{ greeting.date}}
   {% if currentUser %}
   		{% if isAdmin %}
  			<span><a href="{% url 'edit' %}?id={{greeting.key.id}}"><input  type="button" value='Edit'/></a>&nbsp;</span>
   		{% else %}
   			{% if currentUser = greeting.author %}
   				<a href="{% url 'edit' %}?id={{greeting.key.id}}"><input  type="button" value='Edit'/></a>
   			{% endif %}
   		{% endif %}
   	{% endif %}

  <br>
  {% endif %}
  {% endfor %}
  {% endfor %}
<a href="{% url 'sign' %}"><input type="button" value='Sign'/></a> </br>
<a href="{{ url }}">{{ url_linktext }}</a>