<div class="${baseClass}">
	<span data-dojo-attach-point="authorNode">${author} wrote: </span>
			<span data-dojo-attach-point="contentEditbox" data-dojo-type="dijit/InlineEditBox"
						data-dojo-props="editor:'dijit/form/ValidationTextBox',
						editorParams:{required: 'true', regExp:'.{1,10}',
						invalidMessage:'Max length 10 characters!'}"
						autoSave="false">${content}</span>

	<button data-dojo-attach-point="deleteButton"  data-dojo-type="dijit/form/Button">
		Delete</button>
	 </span>

	<div>
		<span>ID: ${id}</span>&nbsp;&nbsp;
		<span>Date Created: ${dateCreated}</span>&nbsp;&nbsp;
		<span>Updated By: ${updateBy}</span>&nbsp;&nbsp;
		<span>Updated Date: ${updateDate}</span>&nbsp;&nbsp;
	</div>
	</br>
	</br>
</div>