<tr class="${baseClass}">
            <td><span data-dojo-attach-point="authorNode">${author} wrote: </span></td>
            <td><span><input data-dojo-attach-point="contentNode" data-dojo-type="dijit/form/TextBox" data-dojo-id="content" type="text" data-dojo-props="'readonly': 'readonly'" value="${content}"/></span></td>
        <td><div data-dojo-attach-point="optionNode"><button data-dojo-attach-point="show_detailNode"  data-dojo-type="dijit/form/Button" type="button">
    Detail</button>
         <button data-dojo-attach-point="show_EditNode"  data-dojo-type="dijit/form/Button" type="button">
    Edit</button>
         <button data-dojo-attach-point="deleteNode"  data-dojo-type="dijit/form/Button" type="button">
    Delete</button></div>


    <div data-dojo-attach-point="edit_optionNode" style="display: None">
           <button data-dojo-attach-point="Ok_EditNode"  data-dojo-type="dijit/form/Button" type="button">
    Ok</button>
         <button data-dojo-attach-point="Cancel_EditNode"  data-dojo-type="dijit/form/Button" type="button">
    Cancel</button></div></td>

</tr>





