<tr class="${baseClass}">
            <td><span data-dojo-attach-point="authorNode">${author} wrote: </span></td>
            <td><span data-dojo-attach-point="contentNode" data-dojo-type="dijit/InlineEditBox"
			data-dojo-props="editor:'dijit/form/ValidationTextBox',
				editorParams:{required: 'true', regExp:'.{1,10}', invalidMessage:'Max length 10 characters!'}"
			autoSave="false">${content}</span></td>
        <td><div data-dojo-attach-point="optionNode"><button data-dojo-attach-point="show_detailNode"  data-dojo-type="dijit/form/Button" type="button">
    Detail</button>
         <button data-dojo-attach-point="deleteNode"  data-dojo-type="dijit/form/Button" type="button">
    Delete</button></div>
        </td>

</tr>





